body{
    background-color: teal;
}

.wrapper{
    display: flex;
    flex-direction: row;

}

.img{
    flex: 30%;
}

.content{
    flex: 70%;
}

#update-btn{
    width: 100px;
    height: 60px;
    background-color: pink;
    border-radius: 10px;
}

.content{
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
}

img{
    width: 350;
    height: 400;
}